<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TextColor</key>
	<array>
		<dict>
			<key>BackColor</key>
			<string>CEDEED</string>
			<key>TextColor</key>
			<string>A49FB6</string>
			<key>BarColor</key>
			<string>ECD0E0</string>
		</dict>
		<dict>
			<key>BackColor</key>
			<string>D9EEB5</string>
			<key>TextColor</key>
			<string>B0E2CF</string>
			<key>BarColor</key>
			<string>7FA3BB</string>
		</dict>
		<dict>
			<key>BackColor</key>
			<string>93C8D3</string>
			<key>TextColor</key>
			<string>FDE790</string>
			<key>BarColor</key>
			<string>A8D989</string>
		</dict>
	</array>
	<key>TextFont</key>
	<array>
		<dict>
			<key>FontName</key>
			<string>DFPOPBauhausKelvin</string>
			<key>FontStr</key>
			<string>POP字体</string>
		</dict>
		<dict>
			<key>FontName</key>
			<string>DFPWaWaW5-GB</string>
			<key>FontStr</key>
			<string>华康娃娃字体</string>
		</dict>
		<dict>
			<key>FontName</key>
			<string>FZGuLi-S12S</string>
			<key>FontStr</key>
			<string>方正古隶</string>
		</dict>
		<dict>
			<key>FontName</key>
			<string>FZQiTi-S14S</string>
			<key>FontStr</key>
			<string>方正启体</string>
		</dict>
		<dict>
			<key>FontName</key>
			<string>FZJingLeiS-R-GB</string>
			<key>FontStr</key>
			<string>方正静蕾</string>
		</dict>
		<dict>
			<key>FontName</key>
			<string>SJ-wjq135</string>
			<key>FontStr</key>
			<string>瘦金体</string>
		</dict>
	</array>
</dict>
</plist>
